<%= form_for([@post, @post.comments.build]) do |f| %>

  <p><br>
    <%= f.text_area :body, class: 'form-control', placeholder: "Enter your comment here..." %>
  </p>
  <p>
    <%= f.text_field :commenter, class: 'form', placeholder: "Name" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>