<div class="container text-center">
    <h1>About Page</h1>
    
    <p>We are Torch Industries. Our company focuses on the newest in all social media
    and technology. We wish to connect people worldwide and to guide them to think
    ahead and move forward.</p>
    
</div>

