<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                 <%= image_tag("fire.png", :align=> "center", size: "300") %>
                <div class="intro-text">
                    <span class="name">ApexVerse</span>
                    <hr class="star-light">
                    <span class="skills">Where dreams become reality.</span>
                </div>
            </div>
        </div>
    </div>
</header>