<div class="container container-fluid ">
  <div class="row c">
    <div class="col-md-1" align="center">
      <%= image_tag("http://pre05.deviantart.net/18c2/th/pre/f/2015/147/0/7/the_flash_logo_by_tremretr-d8uy5gu.png", :alt => "The Flash", size: "100") %>
    </div>
    <div class="col-md-1">
       <%= image_tag("https://ih0.redbubble.net/image.118170698.9379/sticker,375x360.u2.png", :alt => "The Flash", size: "100") %>
    </div>
    <div class="col-md-1">
      <%= image_tag("http://www.pngall.com/wp-content/uploads/2016/06/Superman-Logo-Free-PNG-Image.png", :alt => "The Flash", size: "100") %>
    </div>
    <div class="col-md-1">
      <%= image_tag("http://i.imgur.com/Y2LngWm.png", :alt => "The Flash", size: "200x100") %>
    </div>
  </div>
</div>
<div class="owl-carousel">
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  ...
</div>