<div class="container text-center">
  <h1>Services</h1>
    
  <p>We offer a variety of services for very inexpensive costs.</p>
    
</div>

<div class="row" id="Items Sale">
  <div class="col-xs-6 col-md-3">
    <a href="http://amzn.to/2m9cSVg" class="thumbnail" target= "_blank">>
      <img src="https://images-na.ssl-images-amazon.com/images/I/61T6B8zafVL._SL1000_.jpg" alt="Echo">
    </a>
  </div>
  
  <div class="col-xs-6 col-md-3">
    <a href="http://amzn.to/2mUIHRy" class="thumbnail" target= "_blank">>
      <img src="https://images-na.ssl-images-amazon.com/images/I/61wUAUVhrZL._SL1000_.jpg" alt="Echo Dot">
    </a>
  </div>
  
  <div class="col-xs-6 col-md-3">
    <a href="http://amzn.to/2n3MBH2" class="thumbnail" target= "_blank">>
      <img src="https://images-na.ssl-images-amazon.com/images/I/71gQMRMN9fL._SL1500_.jpg" alt="Rasberry Pi">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="http://amzn.to/2mtE3fX" class="thumbnail" target= "_blank">>
      <img src="https://images-na.ssl-images-amazon.com/images/I/71OSACzywrL._SL1500_.jpg" alt="name">
    </a>
  </div>
   <div class="col-xs-6 col-md-3">
    <a href="https://www.amazon.com/dp/B01E6AO69U/ref=ods_gw_ha_d_white?pf_rd_p=4a14e6ce-9ad7-4d30-8874-2e112490a43e&pf_rd_r=AJWBA1K8D2N6KS5VEE8Q" class="thumbnail" target= "_blank">>
      <img src="https://images-na.ssl-images-amazon.com/images/I/61T6B8zafVL._SL1000_.jpg" alt="Echo">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="https://www.amazon.com/dp/B015TJD0Y4/ref=ods_gw_d_mb_ha_bt?pf_rd_m=ATVPDKIKX0DER&pf_rd_s=&pf_rd_r=FZD5JN7K1C81JNJ7VPHT&pf_rd_t=36701&pf_rd_p=fa508bf4-494d-442e-9f70-cb90a4bcd9c9&pf_rd_i=desktop" class="thumbnail" target= "_blank">>
      <img src="https://images-na.ssl-images-amazon.com/images/I/61wUAUVhrZL._SL1000_.jpg" alt="Echo Dot">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="http://amzn.to/2n3MBH2" class="thumbnail" target= "_blank">>
      <img src="https://images-na.ssl-images-amazon.com/images/I/71gQMRMN9fL._SL1500_.jpg" alt="Rasberry Pi">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="http://amzn.to/2mtE3fX" class="thumbnail" target= "_blank">>
      <img src="https://images-na.ssl-images-amazon.com/images/I/71OSACzywrL._SL1500_.jpg" alt="name">
    </a>
  </div>

</div>

