/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

h1, h2{
  font-family: 'Questrial', sans-serif;
}

h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 250%;
}


//Gradient
.navbar, .home-callout {
  background: #FFFFFF;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color:black;
}

.navbar-default .navbar-toggle{
  border:none;
  &:hover, &:focus {
    background-color:#2C3E50;
  }
}

.home-callout {
  color:black;
  border-top: 100px;
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 0px;
}

//Navbar Stuff
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  font-size: 150%;
  font-family: 'Questrial', sans-serif;
  color:black;
  border:none;
  &:hover {
    background-color:#efefef;
  }
}

#navtabs {
  padding-right: 0;
  &:hover{
    background: #f9f9f9;  
  }
}

.navbar-right{
  margin-right: 10px;
}
.navbar {
  border:none;
  margin-bottom: 0px;
  padding-bottom: -10px;
}

.navbar-default .navbar-brand {
  font-family: 'Russo One', sans-serif;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border-top: none;
  border-bottom: 20px;
  border-color: none;
 }
 
.item {
  size: 900 x 350;
}



footer {
  
  padding:50px 0 65px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}


.navbar-default .navbar-nav > .active{
    color: #000;
   background: #d65c14;
 }
 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
      color: #000;
      background: #d65c14;
 }
 

#white_text{
  color:white;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
   
}

#pic {
  max-width: 100%;
    max-height: 100%;
}

#homeh1 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

#homeh1 span { 
   color: white; 
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 0; 
}
#homeh1 span.spacer {
   padding:0 5px;
}

// Active tabs
.navbar-default .navbar-nav > .active > a {
  border-bottom:3px solid #c60000;
  background:white;
  &:hover {
    background:#efefef;
  }
}

.post-title, {
  color:black;
  font-family: 'Questrial', sans-serif;
}

.post-subtitle {
  color:black;
  font-family: 'Questrial', sans-serif;
  font-size:20px;
}

header {
  text-align: center;
  background: #870000;
  color: white;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}

hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #870000;
  color: white;
}
hr.star-primary {
  border-color: #2C3E50;
}
hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}

html, body {
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: inherit;
}

